<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs') %>
    <body>
        <%- include ('../partials/header.ejs') %>
        <div class="contenedor">
            <div class="slider-contenedor">
                <section class="contenido-slider">
                    <div>
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                            sed. Quos cupiditate id delectus est.4</h2>
                        <a href="/users/contact">Contactanos</a>
                    </div>
                    <img src="/img/slider/animacion.svg" alt="">
                </section>
                <section class="contenido-slider">
                    <div>
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                            sed. Quos cupiditate id delectus est.</h2>
                        <a href="/users/contact">Contactanos</a>
                    </div>
                    <img src="/img/slider/animacion2.svg" alt="">
                </section>
            <section class="contenido-slider">
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                        sed. Quos cupiditate id delectus est.</h2>
                    <a href="/users/contact">Contactanos</a>
                </div>
                <img src="/img/slider/animacion3.svg" alt="">
            </section>
            <section class="contenido-slider">
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                        sed. Quos cupiditate id delectus est.</h2>
                    <a href="/users/contact">Contactanos</a>
                </div>
                <img src="/img/slider/animacion.svg" alt="">
            </section>
        </div>
        </div>
        <script src="/scripts/slider.js"></script>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>