<head>
    <!-- codificacion de caracteres -->
    <meta charset="UTF-8">
    
    <!-- configuracion para diseño responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- fuente Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <!-- link a font awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    
    <!-- link a hoja de estilos -->
    <link href="/css/main/main.css" rel="stylesheet">
    
    <!-- icono de la pestaña -->
    <link rel="icon" href="# ">
    
    <title>Nombre de la Pagina</title>
</head>