<header class="main-header" >
    <a class="main-logo" href="/" ><img src="#" alt="Logo "></a>
    <nav id="nav" class="main-nav" >
      <div class="nav-links" >
        <a class="link-item" href="/users/login"><i class="fa-solid fa-user"></i> Login</a>
        <a class="link-item" href="/products/cart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
        <a class="link-item" href="/products/listProducts"><i class="fa-solid fa-cart-shopping"></i> Productos</a>
        <div class="search-container">
          <input type="text" placeholder="Buscar" required />
          <div class="btn">
            <i class="fas fa-search icon"></i>
          </div>
        </div>
      </div>
    </nav>
    <button id="button-menu" class="button-menu" >
      <span></span>
      <span></span>
      <span></span>
    </button>
    <script src="/scripts/barsMenu.js"></script>
</header>