<header class="main-header" >
    <a class="main-logo" href="https://progradudi.netlify.app" >
      <strong>Progra_dudi</strong>
    </a>
    <nav id="nav" class="main-nav" >
      <div class="nav-links" >
        <a class="link-item" href="/" >HOME</a>
        <a class="link-item" href="/products/detail" >DETAIL</a>
        <a class="link-item" href="/users/login" >LOGIN</a>
      </div>
    </nav>
    <button id="button-menu" class="button-menu" >
      <span></span>
      <span></span>
      <span></span>
    </button>
</header>